<style>
  h1{color: rgba(159, 6, 101, 0.996);
     font-family: fantasy;
  }
  P{font-size: larger;
    font-family:cursive;
    font-style: oblique;
  }
  body{background-image: url("/img/background.jpg");
       background-size: cover;
  }
  #buyButton{ type="submit";
  name="productId";
  value=1;// 用黎加id
  btn btn-secondary;
  data-toggle="modal;
  data-target="#myModal;
  }
  </style>

<body>
  <div class="row justify-content-center "><h1>Products</h1></div>
      <div class="row justify-content-center ">
        {{#each allProduct}}
        <div class="jumbotron ">
          <img src="/img/theLoraProduct1.jpeg" alt="product1" class="img-fluid img-thumbnail">
          <h3>{{productName}}</h3>
          <button class="btn btn-outline-secondary btn-sm" data-toggle="collapse" data-target="#productIntroduction1">Product Introduction</button><h3></h3>
          <div id="productIntroduction1" class="collapse">Keep Clear, Keep Calm!</div>
          <form action="/shoppingCart/add" method="post" id="form">
            <div class="d-flex flex-column">
              <div class="d-flex mb-1 mt-1 align-item-center">
                <label style="margin-left: 0px; margin-bottom: 0px; margin-right:2px; padding-top: 4px" >每支${{price}},請選擇數量:</label>
                <input type="Number" name="productNum" value="" min="1" max={{qty}} style="width:45px" class="input-qty"/>
              </div>
              <div>
                {{type}}ML
              </div>
            </div>
            <div class="row" style="margin-left: 0px" >
              <button type="submit" name="productId" value={{productId}} class="btn btn-outline-secondary">Add To Cart</button>
              <button type="submit" name="buy" class="btn btn-outline-secondary buy" value={{productId}} style="margin-left: 15px">Buy</button>
            </div>
          </form>
      </div>
      {{/each}}
  </div>
</body>
<script>

</script>

